/* Sætter box-sizing til alle elementer */
* {
  box-sizing: border-box;
}

/* Styling af body-elementet */
body {
  margin: 0px;
  background-color: rgba(243, 233, 213, 1);
  font-family: "Montserrat", sans-serif;
  padding: 0;
}

h1 {
  display: flex;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}