/* Generel styling for forsiden */
/* Billede i forside-sektionen fylder hele bredden og justeres automatisk i højde */
.front-page-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
}

/* Styling for informationssektionerne */
.info-sections {
    display: flex;
    flex-direction: column;
}

/* Styling for individuelle informationssektioner */
.info-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2rem;
    padding: 100px 2rem;
}


#holdet{
    background-color:#DFF5AE ;
}

#starten {
    background-color: #AB957F;
}


/* Styling for figur-elementerne i informationssektionerne */
.info-section figure {
    width: 50%;
    margin: 0;
}

/* Styling for billederne i informationssektionerne */
.info-section img {
    width: 100%;
    height: auto;
}

/* Styling for tekstsektionen i informationssektionerne */
.info-section .text {
    width: 50%;
    padding: 0 68px;
}

/* Styling for overskrifter i tekstsektionen */
.info-section .text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Styling for tekstparagraffer i tekstsektionen */
.info-section .text p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Styling for omvendte informationssektioner */
.info-section.reverse {
    flex-direction: row-reverse;
}

/* Responsiv styling */
/* Tilpasninger til mindre skærme */
@media (max-width: 768px) {

    .front-page-bg {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 30vh;
        width: 100%;
    }
     /* Informationssektioner bruger kolonneretning og mindre lodret padding */
    .info-section {
        flex-direction: column-reverse;
        padding: 20px 0px;
    }

    /* Omvendte informationssektioner bruger kolonneretning */
    .info-section.reverse {
        flex-direction: column;
    }

    /* Figur- og tekstsektioner fylder hele bredden */
    .info-section figure,
    .info-section .text {
        width: 100%;
    }

    .info-section img {
        width: 90%;
        height: auto;
        margin-left: 20px;
    }

     /* Tekstsektionen får margin ovenpå */
    .info-section .text {
        margin-top: 1rem;
    }
}


