.background-top {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
  }
/* Styling af container med klassen "boks" */
.boks {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: none;
}

/* Styling af sektioner inden for containeren */
.boks section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* Styling af artikler inden for containeren */
.boks article {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

/* Styling af elementer med klassen "merch" */
.merch {
    border-radius: 5%; /* Afrundede hjørner */
    width: 90%;
    margin: 0rem 1rem;
    display: flex;
    justify-content: center;
    margin: 10px;
}

/* Media query for skærme op til 768px i bredden */
@media (max-width: 768px) {

.background-top {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
    width: 100%;
    }
.boks {
    flex-direction: column; /* Ændrer layout til lodret, når skærmstørrelsen er mindre end 768px */
}
}