/* Hele menuen */
header {
    width: 100%;
    background-color: rgba(243, 233, 213, 1);
    display: flex;
    align-items: center;
    padding-top: 30px;
    border-bottom: 1px solid #000;
}

.nav-title {
    font-size: 22px;
    color: rgba(14, 17, 17, 1);
    padding-left: 1rem;
}

.nav-list {
    display: flex;
    gap: 2rem;
}

.nav-list-item {
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}

.nav-list-item a {
    text-decoration: none;
    color: rgba(14, 17, 17, 1);
    cursor: pointer;
    padding: 45px 30px;
}

header #nav-check {
    display: none;
}
 
/* undermenu */
.nav-sub-menu {
    display: none;
    position: absolute;
    top: 90px; /* Justér afstanden fra hovedmenupunktet */
    left: 0;
    background-color: rgba(243, 233, 213, 1);
    width: 100%;
    padding: 10px; /* Mindsk padding for at gøre undermenuen tættere på hovedmenupunktet */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 50px;
    font-style: normal;
    z-index: 100; /* Sørg for at undermenuen ligger øverst */
    /* max-height: 0;  */
    overflow: hidden; /* Skjul eventuelt indhold, der er større end max-height */
    transition: max-height 0.3s ease-in-out; /* Tilføj en glidende overgang */
}

/* Når musen er over et menupunkt, vises undermenuerne */
.nav-list-item:hover{
    text-decoration: underline;
}
.nav-list-item:hover .nav-sub-menu,
.nav-sub-menu:hover {
    display: block;
    /* max-height: 1000px;  */
}
  
.nav-sub-menu-item {
    display: block;
    margin-top: 20px;

}

.nav-sub-menu-item:hover {
    text-decoration: underline;
}
  
  .nav-sub-menu-item a {
    padding: 10px 10px;
    cursor: pointer;
  }


/* Styling til mobil */
@media (max-width: 768px) {
    header {
        padding: 1rem;
    }
    .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 0.2rem;
    }
    .nav-btn label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav-btn label span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid rgba(14, 17, 17, 1);
    }
    .nav-list {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        background-color: rgba(243, 233, 213, 1);
        height: 0;
        transition: all 0.3s ease-in;
        top: 40px;
        left: 0;
        overflow: hidden;
    }
    .nav-list-item {
        width: 100%;
        margin-top: 1.5rem;
    }
    header #nav-check:checked ~ .nav-list {
        height: calc(100vh - 50px);
    }

    .nav-sub-menu {
        display: block;
        max-height: 0; 
        position: relative;
        top: 20px; /* Justér afstanden fra hovedmenupunktet */
        border-top: none;
        font-size: 20px;
        margin-bottom: 12px;
    }
    .nav-list-item:hover .nav-sub-menu,
    .nav-sub-menu:hover {
        max-height: 1000px; 
    }
    .nav-sub-menu-item {
        margin-top: 10px;
    }
    .nav-list-item:hover{
        text-decoration: none;
    }
    .nav-sub-menu-item:hover {
        text-decoration: none;
    }
} 



