/* stylesheet samlet - så jeg kun skal linke til ét */
@import url('variabler.css');
@import url('nav.css');
@import url('card.css');
@import url('loebeklub.css');
@import url('merch.css');
@import url('font.css');

* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    background-color: rgba(243, 233, 213, 1);
  }


  